.cricle {
	width: 15px;
	height: 15px;
	background: #D8D8D8;
	border-radius: 50%;
	margin-bottom: 0px;
}

.active {
	background: #223F60;
}

.detail {
	color: blue !important;
	text-decoration: underline !important;
}

.greenyellow {
	color: greenyellow;
}

.red {
	color: red;
}

::ng-deep .ant-pagination-item {
	background: #979797;
}

::ng-deep .ant-pagination-item:active {
	background: lightblue;
}
::ng-deep .ant-pagination-item-active {
	background: #1890ff;
}
